body {
  font-family: 'Helvetica Neue',Calibri;
  font-size: 12pt;
  margin: 0.5em; }

#attributes {
  width: 100%; }

#attributes tbody tr td {
  width: 50%; }

#encounters {
  width: 100%;
  border: solid 1px black;
  margin: 1em 0; }
  #encounters #description {
    padding: 1em;
    text-align: center; }

.controlRow {
  margin-bottom: 0.25em; }
  .controlRow button {
    width: 50%;
    height: 2em; }
  .controlRow .selected {
    background-color: #8cf; }

.prarie {
  background-color: #bf6; }
