body {
  font-family: "Helvetica Neue",Calibri;
  font-size: 12pt;
  margin: 0.5em;
  overflow: hidden; }

h1 {
  font-size: 12pt;
  font-weight: normal;
  padding-right: 1em;
  display: inline; }

#gameControls {
  width: 100%;
  height: 1em;
  padding-bottom: 0.25em;
  margin-bottom: 0.25em;
  border-bottom: solid 1px #ccc; }
  #gameControls a {
    padding-right: 0.5em;
    color: #1e62d0;
    text-decoration: none; }

#attributes {
  width: 100%; }
  #attributes tbody tr td {
    width: 33%; }
  #attributes tbody tr td + td {
    width: auto; }

#encounter {
  width: 100%;
  border: solid 1px black;
  margin: 1em 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }
  #encounter table {
    width: 100%; }
  #encounter table tr td {
    width: 15%;
    text-align: center;
    padding: 1em 0; }
  #encounter table tr td + td {
    width: 70%; }

.controlRow {
  margin-bottom: 0.25em; }

button {
  width: 50%;
  outline-width: 0;
  -moz-box-shadow: inset 0px 1px 0px 0px white;
  -webkit-box-shadow: inset 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 0px 0px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #666666;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff; }

input[type="range"] {
  width: 45%; }

#monsterStats {
  display: inline;
  width: 50%; }

.selected {
  -moz-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow: inset 0px 1px 0px 0px #97c4fe;
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
  background: -moz-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -webkit-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -o-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: -ms-linear-gradient(top, #3d94f6 5%, #1e62d0 100%);
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #3d94f6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #337fed;
  color: #ffffff;
  text-shadow: 0px 1px 0px #1570cd; }

.prarie {
  -moz-box-shadow: inset 0px 1px 0px 0px #e3ff99;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e3ff99;
  box-shadow: inset 0px 1px 0px 0px #e3ff99;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebfa8f), color-stop(1, #b8ed75));
  background: -moz-linear-gradient(top, #ebfa8f 5%, #b8ed75 100%);
  background: -webkit-linear-gradient(top, #ebfa8f 5%, #b8ed75 100%);
  background: -o-linear-gradient(top, #ebfa8f 5%, #b8ed75 100%);
  background: -ms-linear-gradient(top, #ebfa8f 5%, #b8ed75 100%);
  background: linear-gradient(to bottom, #ebfa8f 5%, #b8ed75 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #ebfa8f;
  color: #000;
  text-shadow: 0px 1px 0px #E5EC83; }

.swamp {
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #89c403;
  color: #fff;
  text-shadow: 0px 1px 0px #659940; }

.hills {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffefbd;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffefbd;
  box-shadow: inset 0px 1px 0px 0px #ffefbd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e7ce65), color-stop(1, #8e9960));
  background: -moz-linear-gradient(top, #e7ce65 5%, #8e9960 100%);
  background: -webkit-linear-gradient(top, #e7ce65 5%, #8e9960 100%);
  background: -o-linear-gradient(top, #e7ce65 5%, #8e9960 100%);
  background: -ms-linear-gradient(top, #e7ce65 5%, #8e9960 100%);
  background: linear-gradient(to bottom, #e7ce65 5%, #8e9960 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #e7ce65;
  color: #000;
  text-shadow: 0px 1px 0px #FFEFBD; }

.mountains {
  -moz-box-shadow: inset 0px 1px 0px 0px #e4e1d4;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e4e1d4;
  box-shadow: inset 0px 1px 0px 0px #e4e1d4;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c2b8a4), color-stop(1, #492a02));
  background: -moz-linear-gradient(top, #c2b8a4 5%, #492a02 100%);
  background: -webkit-linear-gradient(top, #c2b8a4 5%, #492a02 100%);
  background: -o-linear-gradient(top, #c2b8a4 5%, #492a02 100%);
  background: -ms-linear-gradient(top, #c2b8a4 5%, #492a02 100%);
  background: linear-gradient(to bottom, #c2b8a4 5%, #492a02 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #c2b8a4;
  color: #fff;
  text-shadow: 0px 1px 0px #2C1F02; }

.desert {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffedcd;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffedcd;
  box-shadow: inset 0px 1px 0px 0px #ffedcd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffcb64), color-stop(1, #eec879));
  background: -moz-linear-gradient(top, #ffcb64 5%, #eec879 100%);
  background: -webkit-linear-gradient(top, #ffcb64 5%, #eec879 100%);
  background: -o-linear-gradient(top, #ffcb64 5%, #eec879 100%);
  background: -ms-linear-gradient(top, #ffcb64 5%, #eec879 100%);
  background: linear-gradient(to bottom, #ffcb64 5%, #eec879 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #ffcb64;
  color: #000;
  text-shadow: 0px 1px 0px #E7C26E; }

.coastline {
  -moz-box-shadow: inset 0px 1px 0px 0px #cde7ff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #cde7ff;
  box-shadow: inset 0px 1px 0px 0px #cde7ff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #208bdf), color-stop(1, #d88d2c));
  background: -moz-linear-gradient(top, #208bdf 5%, #d88d2c 100%);
  background: -webkit-linear-gradient(top, #208bdf 5%, #d88d2c 100%);
  background: -o-linear-gradient(top, #208bdf 5%, #d88d2c 100%);
  background: -ms-linear-gradient(top, #208bdf 5%, #d88d2c 100%);
  background: linear-gradient(to bottom, #208bdf 5%, #d88d2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #208bdf;
  color: #fff;
  text-shadow: 0px 1px 0px #242221; }

.jungle {
  -moz-box-shadow: inset 0px 1px 0px 0px #ebffcd;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ebffcd;
  box-shadow: inset 0px 1px 0px 0px #ebffcd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #43a530), color-stop(1, #1d350e));
  background: -moz-linear-gradient(top, #43a530 5%, #1d350e 100%);
  background: -webkit-linear-gradient(top, #43a530 5%, #1d350e 100%);
  background: -o-linear-gradient(top, #43a530 5%, #1d350e 100%);
  background: -ms-linear-gradient(top, #43a530 5%, #1d350e 100%);
  background: linear-gradient(to bottom, #43a530 5%, #1d350e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #43a530;
  color: #fff;
  text-shadow: 0px 1px 0px #222421; }

.ruins {
  -moz-box-shadow: inset 0px 1px 0px 0px #ebe8e2;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ebe8e2;
  box-shadow: inset 0px 1px 0px 0px #ebe8e2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af9f97), color-stop(1, #474747));
  background: -moz-linear-gradient(top, #af9f97 5%, #474747 100%);
  background: -webkit-linear-gradient(top, #af9f97 5%, #474747 100%);
  background: -o-linear-gradient(top, #af9f97 5%, #474747 100%);
  background: -ms-linear-gradient(top, #af9f97 5%, #474747 100%);
  background: linear-gradient(to bottom, #af9f97 5%, #474747 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #af9f97;
  color: #fff;
  text-shadow: 0px 1px 0px #242424; }

.tundra {
  -moz-box-shadow: inset 0px 1px 0px 0px white;
  -webkit-box-shadow: inset 0px 1px 0px 0px white;
  box-shadow: inset 0px 1px 0px 0px white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4e4e4), color-stop(1, #92a3b6));
  background: -moz-linear-gradient(top, #e4e4e4 5%, #92a3b6 100%);
  background: -webkit-linear-gradient(top, #e4e4e4 5%, #92a3b6 100%);
  background: -o-linear-gradient(top, #e4e4e4 5%, #92a3b6 100%);
  background: -ms-linear-gradient(top, #e4e4e4 5%, #92a3b6 100%);
  background: linear-gradient(to bottom, #e4e4e4 5%, #92a3b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #e4e4e4;
  color: #000;
  text-shadow: 0px 1px 0px #EEEEEE; }

.forest {
  -moz-box-shadow: inset 0px 1px 0px 0px #aaf0bb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #aaf0bb;
  box-shadow: inset 0px 1px 0px 0px #aaf0bb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3aca68), color-stop(1, #2f5c0b));
  background: -moz-linear-gradient(top, #3aca68 5%, #2f5c0b 100%);
  background: -webkit-linear-gradient(top, #3aca68 5%, #2f5c0b 100%);
  background: -o-linear-gradient(top, #3aca68 5%, #2f5c0b 100%);
  background: -ms-linear-gradient(top, #3aca68 5%, #2f5c0b 100%);
  background: linear-gradient(to bottom, #3aca68 5%, #2f5c0b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #3aca68;
  color: #fff;
  text-shadow: 0px 1px 0px #222421; }

.savana {
  -moz-box-shadow: inset 0px 1px 0px 0px #f9fadd;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f9fadd;
  box-shadow: inset 0px 1px 0px 0px #f9fadd;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fae75a), color-stop(1, #aa8e36));
  background: -moz-linear-gradient(top, #fae75a 5%, #aa8e36 100%);
  background: -webkit-linear-gradient(top, #fae75a 5%, #aa8e36 100%);
  background: -o-linear-gradient(top, #fae75a 5%, #aa8e36 100%);
  background: -ms-linear-gradient(top, #fae75a 5%, #aa8e36 100%);
  background: linear-gradient(to bottom, #fae75a 5%, #aa8e36 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #fae75a;
  color: #000;
  text-shadow: 0px 1px 0px #ECE8B2; }

.town {
  -moz-box-shadow: inset 0px 1px 0px 0px #fffffc;
  -webkit-box-shadow: inset 0px 1px 0px 0px #fffffc;
  box-shadow: inset 0px 1px 0px 0px #fffffc;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e8e2), color-stop(1, #9c9c96));
  background: -moz-linear-gradient(top, #e9e8e2 5%, #9c9c96 100%);
  background: -webkit-linear-gradient(top, #e9e8e2 5%, #9c9c96 100%);
  background: -o-linear-gradient(top, #e9e8e2 5%, #9c9c96 100%);
  background: -ms-linear-gradient(top, #e9e8e2 5%, #9c9c96 100%);
  background: linear-gradient(to bottom, #e9e8e2 5%, #9c9c96 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #e9e8e2;
  color: #000;
  text-shadow: 0px 1px 0px #DBDBD4; }

.city {
  -moz-box-shadow: inset 0px 1px 0px 0px #a2a296;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a2a296;
  box-shadow: inset 0px 1px 0px 0px #a2a296;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #575650), color-stop(1, #bbb3ae));
  background: -moz-linear-gradient(top, #575650 5%, #bbb3ae 100%);
  background: -webkit-linear-gradient(top, #575650 5%, #bbb3ae 100%);
  background: -o-linear-gradient(top, #575650 5%, #bbb3ae 100%);
  background: -ms-linear-gradient(top, #575650 5%, #bbb3ae 100%);
  background: linear-gradient(to bottom, #575650 5%, #bbb3ae 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #575650;
  color: #fff;
  text-shadow: 0px 1px 0px #3d3d3d; }

.monster {
  -moz-box-shadow: inset 0px 1px 0px 0px #e25271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e25271;
  box-shadow: inset 0px 1px 0px 0px #e25271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c44403), color-stop(1, #a83b09));
  background: -moz-linear-gradient(top, #c44403 5%, #a83b09 100%);
  background: -webkit-linear-gradient(top, #c44403 5%, #a83b09 100%);
  background: -o-linear-gradient(top, #c44403 5%, #a83b09 100%);
  background: -ms-linear-gradient(top, #c44403 5%, #a83b09 100%);
  background: linear-gradient(to bottom, #c44403 5%, #a83b09 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
  background-color: #c44403;
  color: #ffffff;
  text-shadow: 0px 1px 0px #471D13; }

#status {
  margin-top: 0.5em; }

@media (min-width: 512px) {
  body, h1 {
    font-size: 16pt; }

  button, #encounter {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; } }
@media (min-width: 640px) {
  body, h1 {
    font-size: 20pt; }

  button, #encounter {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; } }
@media (min-width: 768px) {
  body, h1 {
    font-size: 24pt; }

  button, #encounter, .selected {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; } }
@media (min-width: 992px) {
  body {
    text-align: center; }

  #container {
    width: 960px;
    margin: 0 auto;
    text-align: left; } }
