@mixin min-box-shadow($color)
{
    -moz-box-shadow:inset 0px 1px 0px 0px $color;
    -webkit-box-shadow:inset 0px 1px 0px 0px $color;
    box-shadow:inset 0px 1px 0px 0px $color;
}

@mixin min-bg-gradient($start,$stop)
{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, $start), color-stop(1, $stop));
    background:-moz-linear-gradient(top, $start 5%, $stop 100%);
    background:-webkit-linear-gradient(top, $start 5%, $stop 100%);
    background:-o-linear-gradient(top, $start 5%, $stop 100%);
    background:-ms-linear-gradient(top, $start 5%, $stop 100%);
    background:linear-gradient(to bottom, $start 5%, $stop 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='$start', endColorstr='$stop',GradientType=0);
    background-color:$start;
}

@mixin min-border-radius($size)
{
    -moz-border-radius:$size;
    -webkit-border-radius:$size;
    border-radius:$size;
}

body {
	font-family: "Helvetica Neue",Calibri;
	font-size: 12pt;
	margin: 0.5em;
	overflow: hidden;
}

h1 {
	font-size: 12pt;
	font-weight: normal;
	padding-right:1em;
	display: inline;
}

#gameControls {
	width: 100%;
	height: 1em;
	padding-bottom:0.25em;
	margin-bottom:0.25em;
	border-bottom: solid 1px #ccc;

	a {
		padding-right: 0.5em;
		color: #1e62d0;
		text-decoration: none;
	}
}

#attributes {
	width: 100%;

	tbody tr td {
		width: 33%;
	}

	tbody tr td+td {
		width: auto;
	}
}


#encounter {
	width: 100%;
	border: solid 1px black;
	margin: 1em 0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;

    table {
    	width: 100%;
    }

    table tr td {
    	width: 15%;
		text-align: center;
		padding: 1em 0;
    }

    table tr td+td {
    	width: 70%;
    }
}

.controlRow {
	margin-bottom: 0.25em;
}

button {
	width: 50%;
	outline-width: 0;   
	@include min-box-shadow(#ffffff);     
	@include min-bg-gradient(#f9f9f9, #e9e9e9);
	@include min-border-radius(3px);        
    
    border:1px solid #dcdcdc;
    
    display:inline-block;
    color:#666666;
    font-weight:normal;
    padding:6px 24px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #ffffff;
}

input[type="range"] {
	width: 45%;
}

#monsterStats {
	display: inline;
	width: 50%;

}

.selected {
	@include min-box-shadow(#97c4fe);     
	@include min-bg-gradient(#3d94f6, #1e62d0);
	@include min-border-radius(3px);        
        
    border:1px solid #337fed;
    
    color:#ffffff;
    
    text-shadow:0px 1px 0px #1570cd;
}

.prarie {
	@include min-box-shadow(#E3FF99);     
	@include min-bg-gradient(#EBFA8F, #B8ED75);
    color:#000;    
    text-shadow:0px 1px 0px #E5EC83;
}

.swamp {
	@include min-box-shadow(#a4e271);     
	@include min-bg-gradient(#89c403, #77a809);
    color:#fff;    
    text-shadow:0px 1px 0px #659940;
}

.hills {
	@include min-box-shadow(#FFEFBD);     
	@include min-bg-gradient(#E7CE65, #8E9960);
    color:#000;    
    text-shadow:0px 1px 0px #FFEFBD;
}

.mountains {
	@include min-box-shadow(#E4E1D4);     
	@include min-bg-gradient(#C2B8A4, #492A02);
    color:#fff;    
    text-shadow:0px 1px 0px #2C1F02;
}

.desert {
	@include min-box-shadow(#FFEDCD);     
	@include min-bg-gradient(#FFCB64, #EEC879);
    color:#000;    
    text-shadow:0px 1px 0px #E7C26E;
}

.coastline {
	@include min-box-shadow(#CDE7FF);     
	@include min-bg-gradient(#208BDF, #D88D2C);
    color:#fff;    
    text-shadow:0px 1px 0px #242221;
}

.jungle {
	@include min-box-shadow(#EBFFCD);     
	@include min-bg-gradient(#43A530, #1D350E);
    color:#fff;    
    text-shadow:0px 1px 0px #222421;
}

.ruins {
	@include min-box-shadow(#EBE8E2);     
	@include min-bg-gradient(#AF9F97, #474747);
    color:#fff;    
    text-shadow:0px 1px 0px #242424;
}

.tundra {
	@include min-box-shadow(#ffffff);     
	@include min-bg-gradient(#E4E4E4, #92A3B6);
    color:#000;    
    text-shadow:0px 1px 0px #EEEEEE;
}

.forest {
	@include min-box-shadow(#AAF0BB);     
	@include min-bg-gradient(#3ACA68, #2F5C0B);
    color:#fff;    
    text-shadow:0px 1px 0px #222421;
}

.savana {
	@include min-box-shadow(#F9FADD);     
	@include min-bg-gradient(#FAE75A, #AA8E36);
    color:#000;    
    text-shadow:0px 1px 0px #ECE8B2;
}

.town {
	@include min-box-shadow(#FFFFFC);     
	@include min-bg-gradient(#E9E8E2, #9C9C96);
    color:#000;    
    text-shadow:0px 1px 0px #DBDBD4;
}

.city {
	@include min-box-shadow(#A2A296);     
	@include min-bg-gradient(#575650, #BBB3AE);
    color:#fff;    
    text-shadow:0px 1px 0px #3d3d3d;
}

.monster {
	@include min-box-shadow(#e25271);     
	@include min-bg-gradient(#c44403, #a83b09);
    color:#ffffff;    
    text-shadow:0px 1px 0px #471D13;
}


@media (min-width: 512px)
{
	body,h1 {
		font-size: 16pt;
	}
	button,#encounter {
	    -moz-border-radius:3px;
	    -webkit-border-radius:3px;
	    border-radius:3px;
	}
}

@media (min-width: 640px)
{
	body,h1 {
		font-size: 20pt;
	}
	button,#encounter {
	    -moz-border-radius:4px;
	    -webkit-border-radius:4px;
	    border-radius:4px;
	}
}


@media (min-width: 768px)
{
	body,h1 {
		font-size: 24pt;
	}
	button,#encounter,.selected {
	    -moz-border-radius:6px;
	    -webkit-border-radius:6px;
	    border-radius:6px;
	}
}

@media (min-width: 992px)
{
	body {
		text-align: center;
	}
	#container {
		width:960px;
		margin: 0 auto;
		text-align: left;
	}
}

@media (min-width: 1200px)
{

}